*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{
    width: 150px;
    height: 70px;
    background-color: rgba(221, 217, 212, 0.863);
    cursor: pointer;
    border-radius: 50px;
    position: relative;
}

.toggle::before{
    content: '';
    position: absolute;
    height: 63px;
    width: 60px;
    margin: 4px;
    margin-top: 1px;
    padding-bottom: 4px;
    padding-right: 1px;
    padding-left: 2px;
    background-color: #ffffff;
    border-radius: 30px;
    transition: 0.003s;
}

#touch{
    display: none;
}

#touch:checked ~ .toggle{
    background-color: blue;
}
#touch:checked ~ .toggle::before{
    transform: translateX(85px);
}