*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(https://st3.depositphotos.com/5295026/16266/i/450/depositphotos_162665882-stock-photo-business-man-pushing-large-stone.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100dvh;
    max-width: 100%;
}
nav{
    display: flex;
    padding-top: 30px;
    max-width: 100%;
    justify-content: space-around;
}

.logo{
    color: rgb(255, 0, 200);
    text-decoration: none;
    font-size: 1.5rem;
}
.logo img{
    max-width: 20px;
    min-height: 20px;
    border-radius: 10px;
}

span{
    color: #23fa06;
    font-size: 1.8rem;
}
ul{
    margin-right: -5%;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 3rem;
    font-weight: 600;

}
nav ul li a:hover,
nav ul .first{
    color: rgb(8, 8, 8);
}
.back{
    position: absolute;
    text-decoration: none;
    color: #031540;
    background-color: chocolate;
    padding: 5px;
    border-radius: 13px;
}
.back:hover{
    background-color: black;
    color: #fff;
    box-shadow: 0 0 20px black;
}
.all h2{
    color: black;
    padding-top: 9%;
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
}
.all p{
    max-width: 90%;
    padding-top: 2%;
    text-align: center;
    background: linear-gradient(to right, green, rgb(0, 4, 255), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}
@media (min-width: 430px)
{
    .all p{
        max-width: 80%;}
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
a button{
    padding: 6px;
    align-items: center;
    margin-top: 12px;
    margin-left: 20px ;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    transition: all .6s;
    background-color: rgb(0, 255, 255);
}
@media (max-width:420px){
    a button{
    padding: 3px; 
    font-size: 0.8rem;
    font-weight: 400;
    }
    
}
a button:hover{
    color:  rgb(0, 255, 255);
    background-color: black;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    transform: rotate(5deg);
}
.links .lkin{
    border-radius: 19px;
}
.links .tiw{
    max-width: 31px;
    border-radius: 15px;
}